<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome bij de Rockschool, <%= @user.email %></h1>
    <p>
     We hebben je succesvol ingeschreven! Vanaf nu kan je bij ons inloggen, je lessen nakijken, een afwezigheid ingeven, je inschrijven voor andere lessen, en nog veel meer<br/>
    </p>
    <p>
      We hopen dat je het naar je zin hebt bij de Rockschool!
    </p>
    <p><%= @url %></p>
  </body>
</html>