<!DOCTYPE html>
<html>
<head>
</head>
<body>
	<div id="topbar">
		<div>
			<h1>De Rockschool</h1>
		</div>
		<div>
			<nav>
				<% if @current_user.isAdmin %>
				<input type="radio" id="teachers" name="radio"><label for="teachers">Leerkrachten</label></input>
	   	 		<input type="radio" id="students" name="radio"><label for="students">Leerlingen</label></input>
	   	 		<input type="radio" id="options" name="radio"><label for="options">Opties</label></input>
	   	 		<input type="radio" id="logout" name="radio"><label for="logout">Uitloggen</label></input>
	   	 		<% elsif @current_user.isTeacher %>
	   	 		<input type="radio" id="teachers" name="radio"><label for="teachers">Profiel</label></input>
	   	 		<input type="radio" id="students" name="radio"><label for="students">Leerlingen</label></input>
	   	 		<input type="radio" id="logout" name="radio"><label for="logout">Uitloggen</label></input>
	   	 		<% elsif @current_user.isStudent %>
	   	 		<input type="radio" id="teachers" name="radio"><label for="teachers">Leerkrachten</label></input>
	   	 		<input type="radio" id="students" name="radio"><label for="students">Profiel</label></input>
	   	 		<input type="radio" id="logout" name="radio"><label for="logout">Uitloggen</label></input>
	   	 		<% else %>
	   	 		<input type="radio" id="login" name="radio"><label for="login">Login</label></input>
	   	 		<input type="radio" id="signup" name="radio"><label for="signup">Registreren</label></input>
	   	 		<% end %>
	   	 	</nav>
		</div>
	<div>

	<div id="mainpage">
		<div id="sidebar"></div>
		<div id="middle"></div>
	</div>

	<script type="text/template" class="template" id="teachersIndexViewTemplate">
		<div id="teachersIndex">
			 {{#teachers}}
			 	<button class="teacher teachersBox" data-id="{{id}}">{{name}}</button><br>
			{{/teachers}}
				<% if @current_user.isAdmin %>
				<button class="addTeacher teachersBox">Leraar toevoegen</button>
				<% end %>
		</div>
	</script>
	<script type="text/template" class="template" id="studentsIndexViewTemplate">
		<div id="studentsIndex"> 
			 {{#students}}
			 	<button class="student studentsBox" data-id="{{id}}">{{getName}}</button><br>
			{{/students}}
				<% if @current_user.isAdmin %>
				<button class="addStudent studentsBox">Leerling toevoegen</button>
				<% end %>
		</div>
	</script>
	<script type="text/template" class="template" id="lessonsSearchTemplate">
		<div id="searchScreen" class="configScreen">
			<h1>Lessen zoeken</h2>
			<label for="status">Status les:</label>
			<select name="statusses">
				{{#statusses}}
					<option value="{{key}}">{{name}}</option>
				{{/statusses}}
			</select>
			<button class="searchButton">Zoek</button><br>
			{{#lessons}}
				<span data-id={{attributes.id}} class="lessonbox lesson-{{attributes.status}}">{{getStudentName}}</span>
			{{/lessons}}
		</div>
	</script>
	
	<script type="text/template" class="template" id="teacherDetailsTemplate">
		<div id="teacherDetails" class="configScreen">
			<h3>Gegevens leraar:</h3>
			<form>
				<table>
					<tr><td><label for="name">Naam:</label></td><td><label for="courses">Vakken:</label></td></tr>
					<tr>
						<td><input type="text" name="name" placeholder="Naam" value="{{teacherName}}"/></td>
						<td><input type="text" name="courses" placeholder="Gitaar, Zang" value="{{teacherCourses}}"/></td>
					</tr>
				</table>
				<label for="bio">Details:</label><br>
				<textarea name="bio"></textarea>
				
				<h2>Lesdagen</h2>
				<table id="timeTable">
					<tr>
						<th>Maandag</th>
						<th>Dinsdag</th>
						<th>Woensdag</th>
						<th>Donderdag</th>
						<th>Vrijdag</th>
						<th>Zaterdag</th>
						<th>Zondag</th>
					</tr>
					<tr class="checkboxes">
						<td><div><input type="checkbox" class="niceCheckbox" id="Monday" name="monday" {{#mondayTeaching}}checked{{/mondayTeaching}}/>
							<label class = "niceCheckboxLabel" for="Monday"></label></div></td>
						<td><div><input type="checkbox" class="niceCheckbox" id="Tuesday" name="tuesday" {{#tuesdayTeaching}}checked{{/tuesdayTeaching}}/>
							<label class = "niceCheckboxLabel" for="Tuesday"></label></div></td>
						<td><div><input type="checkbox" class="niceCheckbox" id="Wednesday" name="wednesday" {{#wednesdayTeaching}}checked{{/wednesdayTeaching}}/>
							<label class = "niceCheckboxLabel" for="Wednesday"></label></div></td>
						<td><div><input type="checkbox" class="niceCheckbox" id="Thursday" name="thursday" {{#thursdayTeaching}}checked{{/thursdayTeaching}}/>
							<label class = "niceCheckboxLabel" for="Thursday"></label></div></td>
						<td><div><input type="checkbox" class="niceCheckbox" id="Friday" name="friday" {{#fridayTeaching}}checked{{/fridayTeaching}}/>
							<label class = "niceCheckboxLabel" for="Friday"></label></div></td>
						<td><div><input type="checkbox" class="niceCheckbox" id="Saturday" name="saturday" {{#saturdayTeaching}}checked{{/saturdayTeaching}}/>
							<label class = "niceCheckboxLabel" for="Saturday"></label></div></td>
						<td><div><input type="checkbox" class="niceCheckbox" id="Sunday" name="sunday" {{#sundayTeaching}}checked{{/sundayTeaching}}/>
							<label class = "niceCheckboxLabel" for="Sunday"></label></div></td>
					</tr>
					<tr>
						<td><input type="text" class="timeInput timeInputMonday" id="start_hours_monday" placeholder="{{periodOpenTime}}" value="{{mondayStartTime}}" {{^mondayTeaching}}hidden{{/mondayTeaching}}></td>
						<td><input type="text" class="timeInput timeInputTuesday" id="start_hours_tuesday" placeholder="{{periodOpenTime}}" value="{{tuesdayStartTime}}" {{^tuesdayTeaching}}hidden{{/tuesdayTeaching}}></td>
						<td><input type="text" class="timeInput timeInputWednesday" id="start_hours_wednesday" placeholder="{{periodOpenTime}}" value="{{wednesdayStartTime}}" {{^wednesdayTeaching}}hidden{{/wednesdayTeaching}}></td>
						<td><input type="text" class="timeInput timeInputThursday" id="start_hours_thursday" placeholder="{{periodOpenTime}}" value="{{thursdayStartTime}}" {{^thursdayTeaching}}hidden{{/thursdayTeaching}}></td>
						<td><input type="text" class="timeInput timeInputFriday" id="start_hours_friday" placeholder="{{periodOpenTime}}" value="{{fridayStartTime}}" {{^fridayTeaching}}hidden{{/fridayTeaching}}></td>
						<td><input type="text" class="timeInput timeInputSaturday" id="start_hours_saturday" placeholder="{{periodOpenTime}}" value="{{saturdayStartTime}}" {{^saturdayTeaching}}hidden{{/saturdayTeaching}}></td>
						<td><input type="text" class="timeInput timeInputSunday" id="start_hours_sunday" placeholder="{{periodOpenTime}}" value="{{sundayStartTime}}" {{^sundayTeaching}}hidden{{/sundayTeaching}}></td>
					</tr>
					<tr>
						<td><input type="text" class="timeInput timeInputMonday" id="end_hours_monday" placeholder="{{periodCloseTime}}" value="{{mondayEndTime}}" {{^mondayTeaching}}hidden{{/mondayTeaching}}></td>
						<td><input type="text" class="timeInput timeInputTuesday" id="end_hours_tuesday" placeholder="{{periodCloseTime}}" value="{{tuesdayEndTime}}" {{^tuesdayTeaching}}hidden{{/tuesdayTeaching}}></td>
						<td><input type="text" class="timeInput timeInputWednesday" id="end_hours_wednesday" placeholder="{{periodCloseTime}}" value="{{wednesdayEndTime}}" {{^wednesdayTeaching}}hidden{{/wednesdayTeaching}}></td>
						<td><input type="text" class="timeInput timeInputThursday" id="end_hours_thursday" placeholder="{{periodCloseTime}}" value="{{thursdayEndTime}}"  {{^thursdayTeaching}}hidden{{/thursdayTeaching}}></td>
						<td><input type="text" class="timeInput timeInputFriday" id="end_hours_friday" placeholder="{{periodCloseTime}}" value="{{fridayEndTime}}"  {{^fridayTeaching}}hidden{{/fridayTeaching}}></td>
						<td><input type="text" class="timeInput timeInputSaturday" id="end_hours_saturday" placeholder="{{periodCloseTime}}" value="{{saturdayEndTime}}" {{^saturdayTeaching}}hidden{{/saturdayTeaching}}></td>
						<td><input type="text" class="timeInput timeInputSunday" id="end_hours_sunday" placeholder="{{periodCloseTime}}" value="{{sundayEndTime}}" {{^sundayTeaching}}hidden{{/sundayTeaching}}></td>
					</tr>

				</table>
				<button class="submitButton">Opslaan</button>
			</form>
		</div>
	</script>
	<script type="text/template" class="template" id="editStudentTemplate">
		<div id="editStudent" class = "configScreen">
			<h3>Gegevens:</h3>
			<form>
				<table>
<<<<<<< HEAD
					<tr><td><label for="firstname">Voornaam:</label></td><td><input type="text" name="firstname"</td></tr>
					<tr><td><label for="lastname">Achternaam:</label></td><td><input type="text" name="lastname"</td></tr>
					<tr><td><label for="phone">Telefoonnummer:</label></td><td><input type="text" name="phone"><br></tr></td>
					<tr><td><label for="address1">Adres:</label></td><td><input type="text" name="address1"><br></tr></td>
					<tr><td></td><td><input type="text" name="address2"><br></tr></td>
					<tr><td><label for="email">E-mail:</label></td><td><input type="text" name="email"><br></tr></td>
					<tr><td></td><td><input type="checkbox" name="mail_student" checked>Confirmatiemail?</td></tr>
					<tr><td></td><td><button class="submitButton">Voer registratie uit</button></tr></td>
=======
					<tr>
						<td><label for="firstname">Voornaam:</label></td>
						<td><label for="lastname">Achternaam:</label></td>					
					</tr>
					<tr>
						<td><input type="text" name="firstname" value = "{{firstname}}" placeholder= "Voornaam"></td>
						<td><input type="text" name="lastname" value = "{{lastname}}" placeholder="Achternaam"></td>
					</tr>
					<tr>
						<td><label for="address1">Adres:</label></td>
						<td></td>						
					</tr>
					<tr>
						<td><input type="text" name="address1" value = "{{address1}}" placeholder="Voorbeeld Adreslijn 1"></td>
						<td><input type="text" name="address2" value = "{{address2}}" placeholder="Voorbeeld Adreslijn 2"></td>
					</tr>
					<tr>
						<td><label for="phone">Telefoonnummer:</label></td>
						<td><label for="email">E-mail:</label></td>
					</tr>
					<tr>
						<td><input type="text" name="phone" value = "{{phone}}" placeholder="0496 12 34 56"></td>
						<td><input type="text" name="email" value = "{{email}}" placeholder="voorbeeld@rockschool.be"></td>
					</tr>
				</table>
				<table>
					<tr><td><button class="submitButton">Registreren</button></td>
					<td> <% if @current_user.isAdmin || @current_user.isStudent %> <button class="passwordButton">Paswoord aanpassen</button> <% end %> </td>
					</tr>
>>>>>>> 94277a1187155779f4cf52639b470eb5b1c66303
				</table>
			</form>
		</div>
	</script>
	<script type="text/template" class="template" id="showStudentTemplate">
		<div id="showStudent" class = "configScreen">
			<h3>Gegevens:</h3>
			<table>
				<tr><td>Voornaam:</td><td>{{firstname}}</td></tr>
				<tr><td>Achternaam:</td><td>{{lastname}}</td></tr>
				<tr><td>Telefoonnummer:</td><td>{{phone}}</td></tr>
				<tr><td>Adres:</td><td>{{address1}}</td></tr>
				<tr><td></td><td>{{address2}}</td></tr>
				<tr><td>E-mail:</td><td>{{email}}</td></tr>
				<tr><td><button class="editButton">Aanpassen</button></td><td></td></tr>
			</table>
			<div id="enrollments"></div>
		</div>
	</script>


	<script type="text/template" class="template" id="teacherTeachingDropDownTemplate">
		<ul class="menu">
			<li><a class="enroll" href="#">Inschrijven</a></li>
			<% if @current_user.isAdmin %>
			<li><a class="makeLessongroup" href="#">Maak groepsles</a></li>
			<% end %>
		</ul>
	</script>
	
	<script type="text/template" class="template" id="grouplessonDropDownTemplate">
		<ul class="menu">
			<li><a class="enroll" href="#">Inschrijven</a></li>
			<li><a class="grouplessonDetails" href="#">Groepsles details</a></li>

		</ul>
	</script>
	<script type="text/template" class="template" id="lessonDropDownTemplate">
		<ul class="menu">
			<li><a href= "#">Student: {{studentName}}</a></li>
			<li><a href= "#">Leeraar: {{teacher.name}}</a></li>
			<li><a href= "#">Tijdstip: {{datetime}}</a></li>
			<li><a href= "#">Status: {{status}}</a>
				<ul>
					{{#choices}}
					<li><a href="#" class="status" data-action="{{action}}">{{label}}</a></li>
					{{/choices}}
				</ul>
			</li>
		</ul>
	</script>
	<script type="text/template" class="template" id="enrollmentDropDownTemplate">
		<ul class="menu">
			<li><a href= "#">Student: {{student.getName}}</a></li>
			<li><a href= "#">Leeraar: {{teacher.name}}</a></li>
			<li><a href= "#">Tijdstip: {{datetime}}</a></li>
			<li><a href= "#">Geaccepteerd: {{#approved}}Ja{{/approved}}{{^approved}}Nee{{/approved}}</a>
			<li><a href= "#">Betaald: {{#paid}}Ja{{/paid}}{{^paid}}Nee{{/paid}}</a>
			<li><a href= "#">Acties:</a>
				<ul>
					{{#choices}}
					<li><a href="#" class="status" data-key="{{key}}">{{label}}</a></li>
					{{/choices}}
				</ul>
			</li>
		</ul>
	</script>
	<script type="text/template" class="template" id="scheduleViewItemTemplate">
		<td class="{{htmlClass}}" rowspan = "{{rowspan}}" colspan ="{{colspan}}" data-startTime = "{{startTime}}" data-duration = "{{duration}}" data-id="{{id}}"> 
			{{text}}
		</td>
	</script>
	<script type="text/template" class="template" id="enrollmentDialogTemplate">
		<div id="enrollmentDialog" title="Inschrijvingsformulier">
		  	<form>
		  		<table>
		  			<tr>
		  				<% if @current_user.isAdmin || @current_user.isTeacher %>
		  				<td><label for="studentsSelect">Student:</label></td><td><input type="text" id="studentsSelect"/></td>
		  				<%elsif @current_user.isStudent %>
		  				<td>Student:</td><td id="studentName">{{studentName}}</td>
		  				<% end %>
		  			</tr>
		  			<tr></tr>
		  			<tr>
		  				<td>Leerkracht:</td><td id="teacherName">{{teacherName}}</td>
		  			</tr>
		  			<tr>
		  			</tr>
		  			<tr>
		  				<td>Lesuur:</td><td id="startLessonHour">{{startLessonHour}}</td>
		  			</tr>
		  			<tr></tr>
		  			<tr>
		  				<td>Lesdag:</td><td id="teachingDay">{{teachingDay}}</td>
		  			</tr>
		  		</table>

		    	<p>Type inschrijving:
		    		<input type="radio" name="enrollmentType" value="schoolyear" checked>Schooljaar</input>
		    		<input type="radio" name="enrollmentType" value="tenlessons">10 Lessen</input>
		    	</p>
		  	</form>
		</div>
	</script>
	<script type="text/template" class="template" id="newLessongroupTemplate">
		<div id="newLessongroupDialog" title="Nieuwe Groepsles">
			<form>
			<table>
				<tr>
		  			<td>Leerkracht:</td><td id="teacherName">{{teacherName}}</td>
		  			</tr>
		  			<tr></tr>
		  			<tr>
		  				<td>Lesuur:</td><td id="startLessonHour">{{startLessonHour}}</td>
		  			</tr>
		  			<tr></tr>
		  			<tr>
		  				<td>Lesdag:</td><td id="teachingDay">{{teachingDay}}</td>
		  			</tr>
					<tr>
						<td><label for="maxNumberOfStudents">Maximum aantal leerlingen:</label></td>
						<td><input type='text' id="maxNumberOfStudents" value ='5'></input></td>
					</tr>
					<tr>
						<td><label for="duration">Lesduur (minuten):</label></td>
						<td><input type='text' id="duration" value='60'></input></td>
					</tr>
			</table>
			</form>
		</div>
	</script>
	<script type="text/template" class="template" id="grouplessonDetailsDialogTemplate">
		<div id="grouplessonDetailsDialog" title="Groepsles details">
			<form>
			<table>
				<tr>
		  			<td>Leerkracht:</td><td id="teacherName">{{teacherName}}</td>
		  			</tr>
		  			<tr></tr>
		  			<tr>
		  				<td>Lesuur:</td><td id="startLessonHour">{{startLessonHour}}</td>
		  			</tr>
		  			<tr></tr>
		  			<tr>
		  				<td>Lesdag:</td><td id="teachingDay">{{teachingDay}}</td>
		  			</tr>
					<tr>
						<td>Maximum aantal leerlingen:</td>
						<td>{{maximumNumberOfStudents}}</td>
					</tr>
					<tr>
						<td>Lesduur (minuten):</td>
						<td>{{duration}}</td>
					</tr>
				</tr>
			</table>
			<div id="enrollments"></div>
			</form>
		</div>
	</script>
	<script type="text/template" class="template" id="enrollmentBoxTemplate">
		<span class="enrollment lessonbox {{^approved}}unapprovedenrollment{{/approved}} {{#approved}}{{^paid}}unpaidenrollment{{/paid}}{{/approved}}">{{text}}</span>
	</script>

	<script type="text/template" class="template" id="loginViewTemplate">
		<div id="login" class="configScreen">
			<h1>Inloggen</h1>
			<form>
				<table>
					<tr><td><label for="email">Email adres:</label></td><td><input type="text" name="email"></td></tr>
					<tr><td><label for="password">Paswoord:</label></td><td><input type="password" name="password"></td></tr>
					<tr><td></td><td><button class="submitButton">Inloggen</button></td></tr>
				</table>
			</form>
		</div>
	</script>

	<script type="text/template" class="template" id="periodOptionsTemplate">
		<div id="periodConfig" class="configScreen">
			<h1>Schooljaar</h1>
			<form>
				<h2>Start- en einddata</h2>
				Startdatum schooljaar: <br>
				<input type="text" class="datepicker" name="beginDate" placeholder="{{startDate}}"/><br>
				Laatste gewone inschrijvingsdag: <br>
				<input type="text" class="datepicker" name="endNormalEnrollmentsDate" placeholder="{{endNormalEnrollmentsDate}}"/><br>
				<h2>Dagen van de week</h2>
				<input type="checkbox" name="daysOpen" id="monday" {{#monday}}checked{{/monday}} > Maandag
				<input type="checkbox" name="daysOpen" id="tuesday" {{#tuesday}}checked{{/tuesday}} > Dinsdag
				<input type="checkbox" name="daysOpen" id="wednesday" {{#wednesday}}checked{{/wednesday}} > Woensdag
				<input type="checkbox" name="daysOpen" id="thursday" {{#thursday}}checked{{/thursday}} > Donderdag
				<input type="checkbox" name="daysOpen" id="friday" {{#friday}}checked{{/friday}} > Vrijdag
				<input type="checkbox" name="daysOpen" id="saturday" {{#saturday}}checked{{/saturday}} > Zaterdag
				<input type="checkbox" name="daysOpen" id="sunday" {{#sunday}}checked{{/sunday}} > Zondag
				<h2>Openingsuren</h2>
				<label for="startTime">Start dag:</label><br>
  				<input type="text" name="startTime" placeholder="{{startTime}}" /><br>
  				<label for="endTime">Einde dag:</label><br>
  				<input type="text" name="endTime" placeholder="{{endTime}}" /><br>
  				<h2>Open</h2>
				<input type="checkbox" name="openForEnrollment" value="true" {{#openForEnrollment}}checked{{/openForEnrollment}}>Open voor inschrijvingen? <br>
				<button class="submitButton">Submit</button>
			</form>
		</div>
	</script>
	<script type="text/template" class="template" id="optionsTemplate">
		<div id="options">
			<button id="options-period" class="optionsBox">Schooljaar</button><br>
			<button id="lessonsSearch" class="optionsBox">Zoeken</button>
		</div>
	</script>
	<script type="text/template" class="template" id="generalDialogTemplate">
		<div id="generalDialog" title="{{title}}">
		  	<form>
		  	{{text}}
		  	</form>
		</div>
	</script>
	<script type="text/template" class="template" id="passwordDialogTemplate">
		<div id="passwordDialog" title="Paswoord veranderen">
		  	{{text}}<br>
		  	<label for="password">Vul hier je nieuwe paswoord in (minimum 6 karakters):</label><br>
		  	<input type="password" name="password"/><br>
		  	<label for="password_confirmation">Vul hier nogmaals je nieuwe paswoord in:</label><br>
		  	<input type="password" name="password_confirmation"/><br>
		</div>
	</script>
	<script>
		window.onload = function(){
			//<% if not @current_user.role.nil? %>
			//current_user.role = '<%= @current_user.getRole %>';
			//<% end %>	
			main();
		}
	</script>
	
</body>

</html>
