<!DOCTYPE html>
<html>
<head>
</head>
<body>
	<div>
		<h1>De Rockschool</h1>
	</div>
	<div>
		<nav>
			<input type="radio" id="teachers" name="radio"><label for="teachers">Leerkrachten</label></input>
   	 		<input type="radio" id="students" name="radio"><label for="students">Leerlingen</label></input>
   	 		<input type="radio" id="options" name="radio"><label for="options">Opties</label></input>
		</nav>
	</div>

	<div id="mainpage">
		<div id="sidebar"></div>
		<div id="middle"></div>
	</div>
	<div id="teacherTeachingDropDownMenu"></div>

	<script type="text/template" class="template" id="teachersIndexViewTemplate">
		<div id="teachersIndex">
			 {{#teachers}}
			 	<button class="teacher teachersBox" data-id="{{id}}">{{name}}</button><br>
			{{/teachers}}
				<button class="addTeacher teachersBox">Leraar toevoegen</button>
		</div>
	</script>
	<script type="text/template" class="template" id="studentsIndexViewTemplate">
		<div id="studentsIndex"> 
			 {{#students}}
			 	<button class="student studentsBox" data-id="{{id}}>{{name}}</button><br>
			{{/students}}
				<button class="addStudent studentsBox">Leerling toevoegen</button>
		</div>

	</script>
	
	<script type="text/template" class="template" id="addTeacherTemplate">
		<div id="newteacherform">
			<h3>Gegevens leraar:</h3>
			<form>
				<input type="text" name="name"><br>
				<button class="submitButton">Maak nieuwe leraar</button>
			</form>
		</div>
	</script>
	<script type="text/template" class="template" id="addStudentTemplate">
		<div id="newstudentform">
			<h3>Gegevens leerling:</h3>
			<form>
				<input type="text" name="name"><br>
				<button class="submitButton">Maak nieuwe leerling</button>
			</form>
		<div>
	</script>

	<script type="text/template" class="template" id="teacherTeachingDropDownTemplate">
		<ul id="dropDownMenu" data-startTime="{{startTime}}" data-duration="{{duration}}"><li><a class="enroll" href="#">Inschrijven</a></li></ul>
	</script>
	<script type="text/template" class="template" id="scheduleViewItemTemplate">
		<td class="{{htmlClass}}" rowspan = "{{rowspan}}" data-startTime = "{{startTime}}" data-duration = "{{duration}}"> 
			{{text}}
		</td>
	</script>
	<script type="text/template" class="template" id="enrollmentDialogTemplate">
		<div id="enrollmentDialog" title="Inschrijvingsformulier">
		  	<h3>Inschrijvingsformulier</h3>
		  	<form>
		  		<p>Naam student:<span id="studentName">{{studentName}}</span>
		    	</p>
		    	<p>Naam leerkracht:<span id="teacherName">{{teacherName}}</span>
		    	</p>
		    	<p>Lesdag:<span id="teachingDay">{{teachingDay}}</span>
		    	</p>
		    	<p><label for="spinner">Lesuur:</label>
	  				<input id="spinner" name="spinner" value="{{startLessonHour}}" />
		    	</p>
		    	<p>Type inschrijving:
		    		<input type="radio" name="enrollmentType" value="year" checked>Schooljaar</input>
		    		<input type="radio" name="enrollmentType" value="10lessons">10 Lessen</input>
		    	</p>
		  	</form>
		</div>
	</script>
	<script type="text/template" class="template" id="periodOptionsTemplate">
		<div id="periodConfig">
			<h1>Schooljaar</h1>
			<form>
				<h2>Start- en einddata</h2>
				Startdatum schooljaar: <br>
				<input type="text" class="datepicker" name="beginDate" placeholder="{{startDate}}"/><br>
				Laatste gewone inschrijvingsdag: <br>
				<input type="text" class="datepicker" name="endNormalEnrollmentsDate" placeholder="{{endNormalEnrollmentsDate}}"/><br>
				<h2>Dagen van de week</h2>
				<input type="checkbox" name="daysOpen" id="monday" {{#monday}}checked{{/monday}} > Maandag
				<input type="checkbox" name="daysOpen" id="tuesday" {{#tuesday}}checked{{/tuesday}} > Dinsdag
				<input type="checkbox" name="daysOpen" id="wednesday" {{#wednesday}}checked{{/wednesday}} > Woensdag
				<input type="checkbox" name="daysOpen" id="thursday" {{#thursday}}checked{{/thursday}} > Donderdag
				<input type="checkbox" name="daysOpen" id="friday" {{#friday}}checked{{/friday}} > Vrijdag
				<input type="checkbox" name="daysOpen" id="saturday" {{#saturday}}checked{{/saturday}} > Zaterdag
				<input type="checkbox" name="daysOpen" id="sunday" {{#sunday}}checked{{/sunday}} > Zondag
				<h2>Openingsuren</h2>
				<label for="startTime">Start dag:</label><br>
  				<input type="text" name="startTime" placeholder="{{startTime}}" /><br>
  				<label for="endTime">Einde dag:</label><br>
  				<input type="text" name="endTime" placeholder="{{endTime}}" /><br>
  				<h2>Open</h2>
				<input type="checkbox" name="openForEnrollment" value="true" {{#openForEnrollment}}checked{{/openForEnrollment}}>Open voor inschrijvingen? <br>
				<button class="submitButton">Submit</button>
			</form>
		</div>
	</script>
	<script type="text/template" class="template" id="optionsTemplate">
		<div id="options">
			<button id="options-period" class="optionsBox">Schooljaar</button>
		</div>
	</script>
</body>

</html>
