5// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
	
}
$lessonopencolor: lightblue;
$lessoncreatedcolor: yellow;
$lessonunpaidenrollmentcolor:red;
$lessonabsentokcolor: darkgray;
$lessonabsentnokcolor: brown;
$lessondonecolor: blue;
$lessonabsentreqcolor: purple;
$schedulecolumnwidth: 140px;
$schedulelineheight: 32px;
$darkgraybackground: #333333 url(images/ui-bg_dots-small_20_333333_2x2.png) 50% 50% repeat;
$schedulecellheight: 4px;
$standardborderradius: 5px;
$orangebackground: #B24926;
body {
	width: 100%;
	margin: 0px;
	background-image: url(greybackground.jpg);
	//background-color: rgb(192, 192, 192);
	font-family: verdana, arial, helvetica, sans-serif;
  	font-size: 12px;
  	line-height: 18px;
}
#topbar {
	background-color: $orangebackground; 
	padding: 10px;
	height:15%;
	h1 {
		margin: 0px;
		padding: 10px;
		color: white;
	}
}

#sidebar {
	position: absolute;
	left: 10px;
	top: 100px;
	overflow: auto;
	height:83%;
}
#middle {
	position: absolute;
	left: 240px;
	top: 100px;
	overflow:auto;
	height:83%;
	width: 1024px;
} 
#lessenrooster th {
	border: 1px solid blue;
}
.teachersBox, .studentsBox, .optionsBox {
	width: 200px;
	font-size: 10px;
}
.unpaidenrollment {
	background: url(exclamation9.png) left no-repeat;
}
.unapprovedenrollment {
	background: url(new.png) left no-repeat;
}
.teacherBox {

}
.lessonbox {
	width: $schedulecolumnwidth;
	height: $schedulelineheight;
	font-family: Verdana,Arial,sans-serif;
	text-align: center;
	cursor: pointer;
	background-color: $lessonabsentokcolor;
	border-radius: $standardborderradius;
	display: block;
	margin: 4px;
	font-size: 13px;
	overflow:hidden;
	text-overflow:ellipsis;
	border-width: 2px;
	line-height:$schedulelineheight;
}
.enrollment {
	background-color: $orangebackground;
}
#lessenrooster td {
	border-radius: $standardborderradius;
}
#lessenrooster td {
	width: $schedulecolumnwidth;
	min-width: $schedulecolumnwidth;
	height: $schedulecellheight;
	min-height: $schedulecellheight;
	font-family: Verdana,Arial,sans-serif;
}
#lessenrooster td.timeindication {
	visibility: hidden;
	width: 0px;
	padding: 0px;
	border: 0px;
}
#lessenrooster td.date{
	height: 20px;
	padding: .4em .4em .4em .6em;
	width: $schedulecolumnwidth/2;
	min-width: $schedulecolumnwidth/2;
	font-size: 11px;
	text-align: center;
}

#lessenrooster td.hour {
	text-align: center;
	width: $schedulecolumnwidth/2;
	min-width: $schedulecolumnwidth/2;
}
#lessenrooster td.navbutton {
	display: table-cell; // om ui-button tegen te gaan
	height: 20px;
	width: $schedulecolumnwidth/4;
	min-width: $schedulecolumnwidth/4;
	font-size: 8px;
	padding: .4em .4em .4em .6em;
}
#lessenrooster td.boundary {
	background-color: lightgray;
	width: $schedulecolumnwidth/2;
	min-width: $schedulecolumnwidth/2;
}
#lessenrooster td.schoolopen {
	background-color: $lessonabsentokcolor;
}
#lessenrooster td.teacherteaching {
  	background-color: #A0DB29;
  	cursor: pointer;
}
#lessenrooster td.teacherteaching:hover{
	opacity: 0.5;
}
#lessenrooster td.lesson {
	text-align: center;
	cursor: pointer;
	overflow:hidden;
	text-overflow:ellipsis;
	/*font-size: 11px;*/
}
#lessenrooster td.lesson-null {
	text-align: center;
	cursor: auto;
}
.lesson-created {
	color: brown;
	background-color: $lessoncreatedcolor;
}
.lesson-open {
	color: darkblue;
	background-color: $lessonopencolor;
}
.lesson-absentreq {
	color: white;
	background-color: $lessonabsentreqcolor;
}
.lesson-absentnok {
	color: white;
	background-color: $lessonabsentnokcolor;
}
.lesson-absentok {
	color: black;
	background-color: $lessonabsentokcolor;
}
.lesson-done {
	color: white;
	background-color: $lessondonecolor;
}
.configScreen {
	background: $darkgraybackground;
	color: white;
	/*width: 1024px;*/
	/*height: 520px;*/
	padding: 5px;
	padding-left: 20px;
	border-radius: $standardborderradius;
}
#dropDown .ui-menu {
	line-height: 1;
	font-size: 1em;
	cursor:pointer;
	.ui-widget {
		width: 150px;
	}
}
.ui-dialog .ui-widget-header {
	background: $orangebackground;
}
.ui-dialog {
	
}
#accordion .ui-accordion-content {
	padding: 3px 45px;
	font-weight: bold;
	font-size: 14px;
	background: #4D4D4D;
	border: 1px solid #096ac8;
	span {
	 cursor: pointer;	
	}
}
.configScreen .ui-button{
	/*border: 1px solid black;*/
}
.ui-autocomplete {
    max-height: 100px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
  }
input[type="text"], textarea, input[type="password"] {
    /*display: block;*/
    padding: 5px;
    border: 3px solid $orangebackground;
    border-radius: 5px;
    color: #333;
    transition: all 0.3s ease-out;
    &:hover{
    	border-radius: 8px;
	}
	&:focus{
		outline: none;
    	border-radius: 8px;
    	border-color: #EBD292;
	}
}
textarea {
	width: 328px;
	height: 70px;
}
 
input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }

input[type=checkbox].niceCheckbox {
	display:none;
}

input[type=checkbox].niceCheckbox + label.niceCheckboxLabel {
	padding-left:20px;
	height:15px; 
	display:inline-block;
	line-height:15px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:15px;
	vertical-align:middle;
	cursor:pointer;
}

input[type=checkbox].niceCheckbox:checked + label.niceCheckboxLabel {
	background-position: 0 -15px;
}

.niceCheckboxLabel{ background-image:url(http://csscheckbox.com/checkboxes/dark-check-orange.png); }

.detailsScreen {
	span .showInfo {
		
	}
	.info td {
		width: 149px;
		min-width: 149px;
		height: 16px;
		min-height: 16px;
		margin: 2px;
	}
	.info .infoLabel, .info label {
		font-weight: bold;
	}
	.info .infoTableCell, #timeTable .infoTableCell {
		background: darkgray;
		border: 3px solid $orangebackground;
		border-radius: 5px;
		color: black;
		padding: 5px;
	}
	#timeTable td, .timeInput{
		text-align:center;
		width: 100px;
	}
	.info .infoTableCell.textAreaInfo{
		width: 328px;
		min-width: 328px;
		height: 70px;
		min-height: 70px;
		overflow: auto;
	}
}
.closingperiod {
	padding: 3px;
	border-radius: $standardborderradius;
	border: 1px solid $orangebackground;
}
#sidebar .searchButton {
	width: 32px;
}