5// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
	
}
$lessonopencolor: lightblue;
$lessoncreatedcolor: yellow;
$lessonunpaidenrollmentcolor:red;
$lessonabsentokcolor: darkgray;
$lessonabsentnokcolor: brown;
$lessondonecolor: blue;
$lessonabsentreqcolor: purple;
$schedulecolumnwidth: 135px;
$schedulelineheight: 1.3;
$darkgraybackground: #333333 url(images/ui-bg_dots-small_20_333333_2x2.png) 50% 50% repeat;
$schedulecellheight: 4px;
$standardborderradius: 5px;
body {
	width: 100%;
	margin: 0px;
	background-image: url(greybackground.jpg);
	//background-color: rgb(192, 192, 192);
	font-family: verdana, arial, helvetica, sans-serif;
  	font-size: 13px;
  	line-height: 18px;
}
#topbar {
	background-color: #B24926; 
	padding: 10px;
	h1 {
		margin: 0px;
		padding: 10px;
		color: white;
	}
}

#sidebar {
	position: absolute;
	left: 10px;
	top: 100px;
}
#middle {
	position: absolute;
	left: 225px;
	top: 100px;
} 
#lessenrooster th {
	border: 1px solid blue;
}
.teachersBox, .studentsBox, .optionsBox {
	width: 200px;
	font-size: 10px;
}
.teacherBox {

}
.lessonbox {
	width: $schedulecolumnwidth;
	height: $schedulecellheight*5;
	font-family: Verdana,Arial,sans-serif;
	text-align: center;
	cursor: pointer;
	background-color: $lessonabsentokcolor;
	padding: .4em 1em;
	border-radius: $standardborderradius;
	display: block;
}
#lessenrooster td {
	border-radius: $standardborderradius;
}
#lessenrooster td {
	width: $schedulecolumnwidth;
	height: $schedulecellheight;
	font-family: Verdana,Arial,sans-serif;
	line-height: $schedulelineheight; //!!!!!!!!!!!!
}
#lessenrooster td.timeindication {
	visibility: hidden;
	width: 0px;
	padding: 0px;
	border: 0px;
}
#lessenrooster td.date{
	height: 20px;
	padding: .4em .4em .4em .6em;
}

#lessenrooster td.hour {
	text-align: center;
	width: $schedulecolumnwidth/2;
}
#lessenrooster td.navbutton {
	display: table-cell; // om ui-button tegen te gaan
	height: 20px;
	width: $schedulecolumnwidth/2;
	font-size: 8px;
	padding: .4em .4em .4em .6em;
}
#lessenrooster td.boundary {
	background-color: lightgray;
}
#lessenrooster td.schoolopen {
	background-color: $lessonabsentokcolor;
}
#lessenrooster td.teacherteaching {
  	background-color: #A0DB29;
  	cursor: pointer;
}
#lessenrooster td.teacherteaching:hover{
	opacity: 0.5;
}
#lessenrooster td.lesson {
	text-align: center;
	cursor: pointer;
}
.lesson-unpaidenrollment {
	background: url(exclamation9.png) left no-repeat;
}
.lesson-created {
	color: brown;
	background-color: $lessoncreatedcolor;
}
.lesson-open {
	color: darkblue;
	background-color: $lessonopencolor;
}
.lesson-absentreq {
	color: white;
	background-color: $lessonabsentreqcolor;
}
.lesson-absentnok {
	color: white;
	background-color: $lessonabsentnokcolor;
}
.lesson-absentok {
	color: white;
	background-color: $lessonabsentokcolor;
}
.lesson-done {
	color: white;
	background-color: $lessondonecolor;
}
.configScreen {
	background: $darkgraybackground;
	color: white;
	width: 1024px;
	height: 520px;
	padding: 5px;
	padding-left: 20px;
	border-radius: $standardborderradius;
}
#dropDown .ui-menu {
	line-height: 1;
	font-size: 1em;
	.ui-widget {
		width: 150px;
	}
}